.body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {


        &-photo {
            flex-shrink: 0;
            position: absolute;

            width: 600px;
            height: 970px;
            top: 180px;
            left: 1420px;

            @media screen and (max-width: 992px){
                flex-shrink: 0;
                position: absolute;

                width: 356px;
                height: 606px;
                top: 117px;
                left: 625px;


}
            @media screen and (max-width: 900px){
                flex-shrink: 0;
                position: absolute;

                width: 390px;
                height: 664px;
                top: 881px;
                left: 100px;
                padding: 0px 0px 1px 0px;

            }

        }
    }

    @media screen and (max-width: 992px){
        background-image: url('../img/background_900px.png');
        background-repeat: no-repeat;
        background-size: cover;


}
    @media screen and (max-width: 900px){
        background-image: url('../img/background_700.png');
        background-repeat: no-repeat;
        background-size: cover;
}

}



