.header {
  &__text {
    position: absolute;

    width: 186px;
    height: 38px;
    top: 588px;
    left: 165px;

    font-family: 'Roboto Medium';
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;

    @media screen and (max-width: 992px){
      position: absolute;

      width: 140px;
      height: 28px;
      top: 372px;
      left: 32px;


      font-family: 'Roboto Medium';
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-align: left;

    }

    @media screen and (max-width: 900px){
      width: 140px;
      height: 28px;
      top: 397px;
      left: 200px;

      font-family: 'Roboto Medium';
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-align: left;


    }



    &-title {
      text-shadow: 1px 4px 4px #00000080;

    }
  }

  &-logo {
    position: absolute;
    width: 1090px;
    height: 121px;
    top: 114px;
    left: 142px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 992px){
      width: 540px;
      height: 60px;
      top: 48px;
      left: 32px;


    }

    @media screen and (max-width: 900px){
      width: 476px;
      height: 52px;
      top: 48px;
      left: 32px;


    }
  }
}

.navigation {
  display: flex;
  position: absolute;

  top: 652px;
  left: 142px;

  @media screen and (max-width: 992px){
    top: 412px;
    left: 32px;
    width: 629px;

  }

  @media screen and (max-width: 900px){
    width: 500px;
    top: 437px;
    left: 107px;


  }

  &__list {
    position: relative;

    padding: 11px 22px;
    text-transform: uppercase;

    @media screen and (max-width: 992px){
       padding: 5px 11px;

    }

    @media screen and (max-width: 900px){
      padding: 0px 0px;
    }

    &-item {
      margin: 0 2px;

      text-align: center;
      border: 2px solid #FFFFFF;
      padding: 10px 14px 10px 14px;
      display: inline-block;
      transition: 0.5s;

      @media screen and (max-width: 992px){
        margin: 3px 2px;

      }

      &:hover {
        color: black;
        transition: 0.5s;
        background: linear-gradient(0deg, #4FB5C0, #4FB5C0),
        linear-gradient(0deg, #6AECF8, #6AECF8);
        border: 4px solid #6AECF8;


      }
    }

    &-button {
      width: 64px;
      height: 21px;
      font-family: 'Roboto Regular';
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.1em;
      text-align: center;
      gap: 10px;
      color: #FFFFFF;
      transition: 0.5s;

      @media screen and (max-width: 992px){
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-align: center;
      }

      &:hover {
        transition: 0.5s;
        color: black;

      }

    }
  }
}

