.main {
  color: #FFFFFF;
  text-shadow: 1px 4px 4px #00000080;

  &__subtitle {
    position: absolute;

    width: 117px;
    height: 38px;
    top: 299px;
    left: 142px;

    font-family: 'Roboto Medium';
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-align: left;

    @media screen and (max-width: 992px) {
      width: 88px;
      height: 28px;
      top: 132px;
      left: 32px;

      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-align: left;
    }

    @media screen and (max-width: 900px) {
      width: 88px;
      height: 28px;
      top: 133px;
      left: 226px;

      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-align: left;

    }


  }

  &__text {
    position: absolute;

    width: 1090px;
    height: 161px;
    top: 363px;
    left: 142px;

    font-family: 'Roboto Regular';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-align: justify;


    @media screen and (max-width: 992px) {
      width: 564px;
      height: 176px;
      top: 172px;
      left: 32px;

      font-family: Roboto;
      font-size: 14px;
      line-height: 16px;

    }

    @media screen and (max-width: 900px) {
      width: 476px;
      height: 192px;
      top: 173px;
      left: 32px;

      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;


    }

    &-paragraf {
      text-indent: 20px;

      @media screen and (max-width: 992px) {
        text-indent: 14px;
      }
    }

  }

  &__contact {
    &-title {
      position: absolute;

      width: 360px;
      height: 38px;
      top: 764px;
      left: 142px;

      font-family: 'Roboto Medium';
      font-size: 32px;
      font-weight: 500;
      line-height: 38px;
      letter-spacing: 0.1em;
      text-align: left;

      @media screen and (max-width: 992px) {
        width: 286px;
        height: 28px;
        top: 544px;
        left: 32px;

        font-family: 'Roboto Medium';
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.1em;
        text-align: left;

      }

      @media screen and (max-width: 900px) {
        width: 300px;
        height: 28px;
        top: 577px;
        left: 147px;

        font-family: 'Roboto Medium';
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.1em;
        text-align: left;

      }
    }
  }

  &__form {
    &-textform {
      position: absolute;

      width: 596px;
      height: 108px;
      top: 886px;
      left: 142px;
      padding: 31px 13px 31px 13px;
      gap: 10px;

      background: rgba(255, 255, 255, 1);

      &-text {
        width: 570px;
        height: 46px;
        top: 31px;
        left: 13px;

        font-family: 'Roboto Regular';
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-align: left;

        color: black;

        @media screen and (max-width: 992px) {
          width: 313px;
          height: 32px;
          top: 18px;
          left: 12px;
        }
        @media screen and (max-width: 900px) {
          width: 313px;
          height: 32px;
          top: 18px;
          left: 12px;

          font-family: 'Roboto Regular';
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.1em;
          text-align: left;
        }
      }

      @media screen and (max-width: 992px) {
        width: 442px;
        height: 68px;
        top: 636px;
        left: 32px;
        padding: 18px 117px 18px 12px;
        gap: 10px;

      }

      @media screen and (max-width: 900px) {
        width: 575px;
        height: 68px;
        top: 721px;
        left: 32px;
        padding: 18px 151px 18px 12px;
        gap: 10px;
      }
    }


    &-tel {
      position: absolute;

      width: 292px;
      height: 48px;
      top: 826px;
      left: 142px;
      padding: 17px 86px 6px 14px;
      gap: 10px;

      background: rgba(255, 255, 255, 1);

      font-family: 'Roboto Regular';
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.1em;
      text-align: left;

      color: rgba(0, 0, 0, 1);

      @media screen and (max-width: 992px) {
        width: 276px;
        height: 40px;
        top: 584px;
        left: 32px;
        padding: 12px 142px 12px 12px;
        gap: 10px;

        font-family: 'Roboto Regular';
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: left;


      }

      @media screen and (max-width: 900px) {
        width: 575px;
        height: 40px;
        top: 617px;

        font-family: 'Roboto Regular';
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: left;

      }

    }

    &-email {
      position: absolute;

      width: 292px;
      height: 48px;
      top: 826px;
      left: 446px;
      padding: 13px 34px 12px 14px;
      gap: 10px;
      background: rgba(255, 255, 255, 1);

      @media screen and (max-width: 992px) {
        width: 276px;
        height: 40px;
        top: 584px;
        left: 320px;
        padding: 12px 93px 12px 12px;
        gap: 10px;
      }

      @media screen and (max-width: 900px) {
        width: 575px;
        height: 40px;
        top: 669px;
        left: 32px;
        padding: 12px 293px 12px 12px;
        gap: 10px;
      }

      &-text {
        width: 244px;
        height: 23px;
        top: 13px;
        left: 14px;

        font-family: 'Roboto Regular';
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-align: left;

        color: rgba(0, 0, 0, 1);

        @media screen and (max-width: 992px) {
          width: 171px;
          height: 16px;
          top: 12px;
          left: 12px;

          font-family: 'Roboto Regular';
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.1em;
          text-align: left;
        }

        @media screen and (max-width: 900px){
          width: 171px;
          height: 16px;
          top: 12px;
          left: 12px;

          font-family: 'Roboto Regular';
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.1em;
          text-align: left;
        }

      }

    }

  }


  &__button {
    position: absolute;

    width: 228px;
    height: 48px;
    top: 1006px;
    left: 142px;
    padding: 4px 24px 4px 24px;
    border: 2px;
    gap: 10px;

    text-align: center;
    border: 2px solid #FFFFFF;
    padding: 10px 14px 10px 14px;
    display: inline-block;

    @media screen and (max-width: 992px) {
      width: 110px;
      height: 68px;
      top: 636px;
      left: 486px;
      padding: 4px 24px 4px 24px;
      border: 2px;
      gap: 10px;

      border: 2px solid rgba(255, 255, 255, 1)
    }

    @media screen and (max-width: 900px){
      width: 184px;
      height: 48px;
      top: 801px;
      left: 178px;
      padding: 4px 24px 4px 24px;
      border: 2px;
      gap: 10px;
      border: 2px solid rgba(255, 255, 255, 1)

    }

    &-text {
      width: 202px;
      height: 21px;

      font-family: 'Roboto Medium';
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.1em;
      text-align: center;

      @media screen and (max-width: 992px) {
        width: 89px;
        height: 38px;

        font-family: 'Roboto Medium';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-align: center;

      }
      @media screen and (max-width: 900px){
        width: 136px;
        height: 19px;

        font-family: 'Roboto Medium';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-align: center;

      }


    }
  }
}


