.body {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.body__wrapper-photo {
  flex-shrink: 0;
  position: absolute;
  width: 600px;
  height: 970px;
  top: 180px;
  left: 1420px;
}
@media screen and (max-width: 992px) {
  .body__wrapper-photo {
    flex-shrink: 0;
    position: absolute;
    width: 356px;
    height: 606px;
    top: 117px;
    left: 625px;
  }
}
@media screen and (max-width: 900px) {
  .body__wrapper-photo {
    flex-shrink: 0;
    position: absolute;
    width: 390px;
    height: 664px;
    top: 881px;
    left: 100px;
    padding: 0px 0px 1px 0px;
  }
}
@media screen and (max-width: 992px) {
  .body {
    background-image: url("../img/background_900px.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 900px) {
  .body {
    background-image: url("../img/background_700.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__text {
  position: absolute;
  width: 186px;
  height: 38px;
  top: 588px;
  left: 165px;
  font-family: "Roboto Medium";
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .header__text {
    position: absolute;
    width: 140px;
    height: 28px;
    top: 372px;
    left: 32px;
    font-family: "Roboto Medium";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
@media screen and (max-width: 900px) {
  .header__text {
    width: 140px;
    height: 28px;
    top: 397px;
    left: 200px;
    font-family: "Roboto Medium";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
.header__text-title {
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5019607843);
}
.header-logo {
  position: absolute;
  width: 1090px;
  height: 121px;
  top: 114px;
  left: 142px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 992px) {
  .header-logo {
    width: 540px;
    height: 60px;
    top: 48px;
    left: 32px;
  }
}
@media screen and (max-width: 900px) {
  .header-logo {
    width: 476px;
    height: 52px;
    top: 48px;
    left: 32px;
  }
}

.navigation {
  display: flex;
  position: absolute;
  top: 652px;
  left: 142px;
}
@media screen and (max-width: 992px) {
  .navigation {
    top: 412px;
    left: 32px;
    width: 629px;
  }
}
@media screen and (max-width: 900px) {
  .navigation {
    width: 500px;
    top: 437px;
    left: 107px;
  }
}
.navigation__list {
  position: relative;
  padding: 11px 22px;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .navigation__list {
    padding: 5px 11px;
  }
}
@media screen and (max-width: 900px) {
  .navigation__list {
    padding: 0px 0px;
  }
}
.navigation__list-item {
  margin: 0 2px;
  text-align: center;
  border: 2px solid #FFFFFF;
  padding: 10px 14px 10px 14px;
  display: inline-block;
  transition: 0.5s;
}
@media screen and (max-width: 992px) {
  .navigation__list-item {
    margin: 3px 2px;
  }
}
.navigation__list-item:hover {
  color: black;
  transition: 0.5s;
  background: linear-gradient(0deg, #4FB5C0, #4FB5C0), linear-gradient(0deg, #6AECF8, #6AECF8);
  border: 4px solid #6AECF8;
}
.navigation__list-button {
  width: 64px;
  height: 21px;
  font-family: "Roboto Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
  gap: 10px;
  color: #FFFFFF;
  transition: 0.5s;
}
@media screen and (max-width: 992px) {
  .navigation__list-button {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
  }
}
.navigation__list-button:hover {
  transition: 0.5s;
  color: black;
}

.main {
  color: #FFFFFF;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5019607843);
}
.main__subtitle {
  position: absolute;
  width: 117px;
  height: 38px;
  top: 299px;
  left: 142px;
  font-family: "Roboto Medium";
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .main__subtitle {
    width: 88px;
    height: 28px;
    top: 132px;
    left: 32px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
@media screen and (max-width: 900px) {
  .main__subtitle {
    width: 88px;
    height: 28px;
    top: 133px;
    left: 226px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
.main__text {
  position: absolute;
  width: 1090px;
  height: 161px;
  top: 363px;
  left: 142px;
  font-family: "Roboto Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: justify;
}
@media screen and (max-width: 992px) {
  .main__text {
    width: 564px;
    height: 176px;
    top: 172px;
    left: 32px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 900px) {
  .main__text {
    width: 476px;
    height: 192px;
    top: 173px;
    left: 32px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
  }
}
.main__text-paragraf {
  text-indent: 20px;
}
@media screen and (max-width: 992px) {
  .main__text-paragraf {
    text-indent: 14px;
  }
}
.main__contact-title {
  position: absolute;
  width: 360px;
  height: 38px;
  top: 764px;
  left: 142px;
  font-family: "Roboto Medium";
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .main__contact-title {
    width: 286px;
    height: 28px;
    top: 544px;
    left: 32px;
    font-family: "Roboto Medium";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
@media screen and (max-width: 900px) {
  .main__contact-title {
    width: 300px;
    height: 28px;
    top: 577px;
    left: 147px;
    font-family: "Roboto Medium";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
.main__form-textform {
  position: absolute;
  width: 596px;
  height: 108px;
  top: 886px;
  left: 142px;
  padding: 31px 13px 31px 13px;
  gap: 10px;
  background: rgb(255, 255, 255);
}
.main__form-textform-text {
  width: 570px;
  height: 46px;
  top: 31px;
  left: 13px;
  font-family: "Roboto Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: left;
  color: black;
}
@media screen and (max-width: 992px) {
  .main__form-textform-text {
    width: 313px;
    height: 32px;
    top: 18px;
    left: 12px;
  }
}
@media screen and (max-width: 900px) {
  .main__form-textform-text {
    width: 313px;
    height: 32px;
    top: 18px;
    left: 12px;
    font-family: "Roboto Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
@media screen and (max-width: 992px) {
  .main__form-textform {
    width: 442px;
    height: 68px;
    top: 636px;
    left: 32px;
    padding: 18px 117px 18px 12px;
    gap: 10px;
  }
}
@media screen and (max-width: 900px) {
  .main__form-textform {
    width: 575px;
    height: 68px;
    top: 721px;
    left: 32px;
    padding: 18px 151px 18px 12px;
    gap: 10px;
  }
}
.main__form-tel {
  position: absolute;
  width: 292px;
  height: 48px;
  top: 826px;
  left: 142px;
  padding: 17px 86px 6px 14px;
  gap: 10px;
  background: rgb(255, 255, 255);
  font-family: "Roboto Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 992px) {
  .main__form-tel {
    width: 276px;
    height: 40px;
    top: 584px;
    left: 32px;
    padding: 12px 142px 12px 12px;
    gap: 10px;
    font-family: "Roboto Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
@media screen and (max-width: 900px) {
  .main__form-tel {
    width: 575px;
    height: 40px;
    top: 617px;
    font-family: "Roboto Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
.main__form-email {
  position: absolute;
  width: 292px;
  height: 48px;
  top: 826px;
  left: 446px;
  padding: 13px 34px 12px 14px;
  gap: 10px;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 992px) {
  .main__form-email {
    width: 276px;
    height: 40px;
    top: 584px;
    left: 320px;
    padding: 12px 93px 12px 12px;
    gap: 10px;
  }
}
@media screen and (max-width: 900px) {
  .main__form-email {
    width: 575px;
    height: 40px;
    top: 669px;
    left: 32px;
    padding: 12px 293px 12px 12px;
    gap: 10px;
  }
}
.main__form-email-text {
  width: 244px;
  height: 23px;
  top: 13px;
  left: 14px;
  font-family: "Roboto Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 992px) {
  .main__form-email-text {
    width: 171px;
    height: 16px;
    top: 12px;
    left: 12px;
    font-family: "Roboto Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
@media screen and (max-width: 900px) {
  .main__form-email-text {
    width: 171px;
    height: 16px;
    top: 12px;
    left: 12px;
    font-family: "Roboto Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
.main__button {
  position: absolute;
  width: 228px;
  height: 48px;
  top: 1006px;
  left: 142px;
  padding: 4px 24px 4px 24px;
  border: 2px;
  gap: 10px;
  text-align: center;
  border: 2px solid #FFFFFF;
  padding: 10px 14px 10px 14px;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .main__button {
    width: 110px;
    height: 68px;
    top: 636px;
    left: 486px;
    padding: 4px 24px 4px 24px;
    border: 2px;
    gap: 10px;
    border: 2px solid rgb(255, 255, 255);
  }
}
@media screen and (max-width: 900px) {
  .main__button {
    width: 184px;
    height: 48px;
    top: 801px;
    left: 178px;
    padding: 4px 24px 4px 24px;
    border: 2px;
    gap: 10px;
    border: 2px solid rgb(255, 255, 255);
  }
}
.main__button-text {
  width: 202px;
  height: 21px;
  font-family: "Roboto Medium";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .main__button-text {
    width: 89px;
    height: 38px;
    font-family: "Roboto Medium";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .main__button-text {
    width: 136px;
    height: 19px;
    font-family: "Roboto Medium";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
